name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      uses: docker/login-action@v2.1.0
      with:
        username: tanmayfuse1221
        password: ${{ secrets.DOCKERPWD }}
    
    - name: Build and push Docker images
      uses: docker/build-push-action@v4.0.0
      with:
        context: ${{ env.GITHUB_WORKSPACE }}/nodePort/
        # Path to the Dockerfile
        file: ${{ env.GITHUB_WORKSPACE }}/nodePort/
